name: Deploy to pages

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  test:
    runs-on: ubuntu-latest
    env:
      GH_TOKEN: ${{ secrets.SECRET_GITHUB_TOKEN }}
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: '15'
      - run: git config user.name "github" && git config user.email "example@example.com"
      - run: yarn
      - run: yarn build
      - run: yarn deploy
